# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
*.env
.vscode/
.idea/
.DS_Store

# Logs
*.log
email_logs/

# Database
*.sql
*.sqlite

# Distribution / packaging
dist/
build/
*.egg-info/
